body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        h1 {
            color: #333;
            text-align: center;
            padding: 20px 0;
        }

        .profile-container {
            
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .profile-container img {
            height: 100px;
            width: 100px;
            float: left;
            margin-right: 20px;
            
            border-radius: 50%;
            margin-bottom: 20%;
        }

        .profile-container .field {
            margin-bottom: 10px;
        }

        .profile-container .field label {
            font-weight: bold;
        }

        .profile-container .field span {
            margin-left: 10px;
            color: #888;
        }